<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button expand="full" (click)="recuperarTodo()">Recuperar Todo</ion-button>
  <ion-button expand="full" (click)="recuperarID()">Recuperar Registro</ion-button>
  <ion-button expand="full" (click)="recuperarBitcoin()">Recuperar valor BTC</ion-button>
  <ion-button expand="full" (click)="crearPost()">Crear Post</ion-button>
  <ion-button expand="full" (click)="updatePost()">Actualizar Post</ion-button>
  <ion-button expand="full" (click)="eliminarPost()">Eliminar Post</ion-button>

</ion-content>